<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>163135689277-52s7evimt65mrftraonvv21ooggbg4ov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.163135689277-52s7evimt65mrftraonvv21ooggbg4ov</string>
	<key>API_KEY</key>
	<string>AIzaSyDS9uh2QbzCHqNgEo1E0iSHQ1GU-2-6wwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>163135689277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.version1.culturecapture</string>
	<key>PROJECT_ID</key>
	<string>culture-capture-71a6c</string>
	<key>STORAGE_BUCKET</key>
	<string>culture-capture-71a6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:163135689277:ios:75ea3971f309cb655e1054</string>
</dict>
</plist>